<footer class="footer">
  <ul>
    <li class="social-link"><a href="http://github.com/bondydaa" class="github">Github</a></li>
    <li class="social-link"><a href="http://twitter.com/davidbondy" class="twitter">Twitter</a></li>
    <li class="social-link"><a href="mailto:bondydaa@gmail.com" class="email">Email</a></li>
  </ul>
</footer>
