<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>{{ title}}</title>
  <link rel="stylesheet" href="/css/bondydaa.css">
</head>
<body class="clearfix">
  {{#is header 'on'}}
  {{> header}}
  {{/is}}

  <section class="content">
    {{> body}}
    {{> footer}}
  </section>

  <script src="/scripts/vendor/jquery2.0.min.js"></script>
  <script src="/scripts/main.js"></script>

</body>
</html>