<!DOCTYPE html>
<html>
<head>
  <title>{{ title}}</title>
  <link rel="stylesheet" href="/css/bondydaa.css">
</head>
<body class="clearfix">
  {{> body}}


  <script src="/scripts/vendor/jquery2.0.min.js"></script>
  <script src="/scripts/main.js"></script>

</body>
</html>