@import "compass/css3";
@import "compass/reset";

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

body {
  background: #267a52;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

.footer {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.social-link {
  flex-grow: 1;
  flex-basis: 50px;
  text-align: center;
}