---
title: Bondydaa.com
---

<div class="placeholder">
  <h1 class="headline">Under Construction (Hardhats Optional)</h1>
  <p>There isn't much going on here...yet</p>
  <p>Enjoy this while I code this place</p>
  <img src="/images/red_panda.gif" title="Red Panda Gif">
</div>

{{!-- <footer class="social-links clearfix">
  <nav>
    <ul>
      <li class="twitter"><a href="http://twitter.com/davidbondy">Twitter</a></li>
      <li class="github"><a href="http://github.com/bondydaa">Github</a></li>
      <li class="email"><a href="mailto:bondydaa@gmail.com">@</a></li>
    </ul>
  </nav>
</footer> --}}